<header class="site-header">
     
  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        <p style="color:blue;padding: 20px; text-align:left">This is a Blue Heading</p> 
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="{{ site.baseurl }}/">projects</a>
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}

      </div>
    </nav>

  </div>

</header>
